GATSBY_SANITY_PROJECT_ID="wrpsklck"
GATSBY_SANITY_DATASET="production"

# Copy this file to .env.development for local development.
# Note: After copying DO NOT commit this file to git!
SANITY_READ_TOKEN="skhXYuqS2NnhAG44bZyvWj7jBmzSHA8IVJwZEdNCtVn7aLiqX3Dm1YhngoMSPcvQwyoF0eyEuEB3iC7m0aewY8QOCyW3eIflEKhGN6XyyUSCvhIS0xuKQAOdUrgdSxyMEwCwt4mryGRMyJRddc0SlfHYO6Ar1eLTEOqnNhnlem0fC40K6Kdn"
