GATSBY_SANITY_PROJECT_ID="jmb7ft25"
GATSBY_SANITY_DATASET="production"

# Copy this file to .env.development for local development.
# Note: After copying DO NOT commit this file to git!
SANITY_READ_TOKEN="sk05Tb4ijHOx7hz6LUBgGL59zAB5LkkbXhpifHY83igdgQVvxDW5Q6AqQsVcHKhwJjTm9DxnkAJWQYRHTSaSSKDJa7SY7Kin4QgF65B62iCK5lILej1qVCzTOsg9wCDvEijtD7nvtsoCTXsHvFkWhsNpvbbZHeUaRzjK3iORJgeIRfWB9bKL"
